## Aggregate functions in pandas

In [1]:
#Importing libraries
#python library for numerical and scientific computing,pandas is built on top.
#of numpy
import numpy as np
#importing pandas 
import pandas as pd

In [2]:
marks={'Chemistry':[67,90,66,32,72,45,60,98],
      'Physics':[45,92,72,92,72,34,72,45],
      }
marks_df=pd.DataFrame(marks,index=['Subodh','Ram','Abdul','John','Nandini','Zoya','Shivam','James'])
marks_df

         Chemistry  Physics
Subodh          67       45
Ram             90       92
Abdul           66       72
John            32       92
Nandini         72       72
Zoya            45       34
Shivam          60       72
James           98       45

In [3]:
marks_df.Chemistry.sum()

530

In [4]:
marks_df['Chemistry'].sum()

530

In [5]:
marks_df['Physics'].mean()

65.5

In [6]:
marks_df.mean()

Chemistry    66.25
Physics      65.50
dtype: float64

In [7]:
marks_df.sum()

Chemistry    530
Physics      524
dtype: int64

In [8]:
marks_df.count()

Chemistry    8
Physics      8
dtype: int64

In [9]:
marks_df.agg(['min','max','sum','mean','median'])

        Chemistry  Physics
min         32.00     34.0
max         98.00     92.0
sum        530.00    524.0
mean        66.25     65.5
median      66.50     72.0

In [10]:
print(marks_df)
marks_df.groupby("Physics").max()

         Chemistry  Physics
Subodh          67       45
Ram             90       92
Abdul           66       72
John            32       92
Nandini         72       72
Zoya            45       34
Shivam          60       72
James           98       45

         Chemistry
Physics
34              45
45              98
72              72
92              90